<div class="row" [formGroup]="group">
	<div class="col-12 p-2 mb-auto " formArrayName="plannings">
		<div [id]="'toggle-'+planning[p]?.loadid" class="card tab"
			*ngFor="let plan of plannings.controls; let p = index">
			<div class="card-header tab-label row p-2" (click)="planning[p].inView = !planning[p]?.inView!">
				<div class="col align-middle">
					# <b>{{planning[p]?.loadid}}</b>
					<span class="ml-2 badge badge-success text-white">{{planning[p]?.vehicletype}}</span>&nbsp;
					<label class="badge badge-warning">{{planning[p]?.reg_status}}</label>
				</div>
				<div class="col-auto d-flex justify-content-end">
					<button class="btn btn-sm btn-outline-primary ml-2"
						[disabled]="!plan.touched === true || !(plan.valid === true && plan.pristine===false)"
						(click)="save(planning[p],p);">💾</button>
					<button type="button" class="btn btn-sm btn-outline-secondary ml-2"
						*ngIf="planning[p]?.reg_status == 2" (click)="aprobar(p)">
						{{ '✅' }}</button>
					<button type="button" class="btn btn-sm btn-outline-secondary ml-2"
						*ngIf="planning[p]?.reg_status == 1" (click)="rechazar(p)">
						{{ '❌' }}</button>
					<button class="btn btn-sm btn-outline-primary ml-2">{{planning[p]?.inView
						? '🔼':'🔽' }}</button>
				</div>
			</div>
			<div class="card-body"
				[ngClass]="{'tab-content-visible collapse show': planning[p]?.inView, 'tab-content': !planning[p]?.inView}">
				<h5 class="card-title"> Detalle de la planeación: </h5>
				<div class="row">
					<div class="col">
						<b>Peso </b>
						<p>{{planning[p]?.totalweightsum|number}}</p>
					</div>
					<div class="col">
						<b>Piezas </b>
						<p>{{planning[p]?.totalpiecessum|number}}</p>
					</div>
					<div class="col text-truncate">
						<b>Volumen </b>
						<p>{{planning[p]?.totalvolumesum|number}}</p>
					</div>
				</div>
				<h5 class="sub-title">Información del vehículo:</h5>
				<div class="row mobile-inputs" [formGroupName]="p">
					<div class="col-12 col-sm-6">
						<div class="form-group row">
							<div class="col-sm-12 col-md-6">
								<label class="col-form-label">Número de la Planilla:</label>
							</div>
							<div class="input-group col-sm-12 col-md-6">
								<input type="text" class="form-control form-control-primary" placeholder="Planilla Id."
									formControlName="loadorderid">
								<div class="input-group-append">
									<button type="button" class="btn btn-outline-secondary"
										(click)="clear('loadorderid', p)">🗑</button>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-12 col-md-6">
								<label class="col-form-label">Placa del vehiculo:</label>
							</div>
							<div class="input-group col-sm-12 col-md-6">
								<input type="text" class="form-control form-control-default" maxlength="6"
									placeholder="Placa del vehiculo" formControlName="licenseplate">
								<div class="input-group-append">
									<button type="button" class="btn btn-outline-secondary"
										(click)="clear('licenseplate', p)">🗑</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="form-group row">
							<div class="col-sm-12 col-md-6">
								<label class="col-form-label">Cédula del conductor:</label>
							</div>
							<div class="input-group col-sm-12 col-md-6">
								<input type="text" class="form-control form-control-info"
									placeholder="Cédula del conductor" formControlName="drivercc">
								<div class="input-group-append">
									<button type="button" class="btn btn-outline-secondary"
										(click)="clear('drivercc', p)">🗑</button>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-12 col-md-6">
								<label class="col-form-label">Nombre del conductor:</label>
							</div>
							<div class="input-group col-sm-12 col-md-6">
								<input type="text" class="form-control form-control-success"
									placeholder="Nombre del conductor" formControlName="drivername">
								<div class="input-group-append">
									<button type="button" class="btn btn-outline-secondary"
										(click)="clear('drivername', p)">🗑</button>
								</div>
							</div>
						</div>
					</div>

					<div *ngIf="messages[p]?.length > 0" class="col-12">
						<pre>
							<div *ngFor="let message of messages[p]; let im of index" >{{message.message}}</div>
						</pre>
					</div>
					<hr>
				</div>

				<h5 class="card-title"> Detalle del pedido: </h5>
				<div class="card-block table-border-style">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Tipo</th>
									<th># Pedido</th>
									<th>Destino</th>
									<th>Dirección entrega</th>
									<th>Tiempo estimado llegada</th>
									<th>Piezas</th>
									<th>Peso</th>
									<th>Volumen</th>
									<th></th>
								</tr>
							</thead>
							<tbody *ngFor="let deliver of planning[p]?.delivery; let i = index">
								<tr (click)="deliver.inView = deliver?.inView ? 0 : 1; ">

									<td>{{i+1}}</td>
									<td> {{deliver.sequencenumber}}</td>
									<td>{{deliver.deliveryid}}</td>
									<td style="width: 20%" class="text-wrap">{{deliver?.destinationname}}</td>
									<td style="width: 20%">{{deliver.destinationaddress}}</td>
									<td style="width: 20%">{{deliver.arrivaldatetime| date: 'medium'}}</td>
									<td>{{deliver.pieces|number}}</td>
									<td>{{deliver.volume|number}}</td>
									<td>{{deliver.weight|number}}</td>
									<td>
										<button class="btn btn-sm btn-outline-primary ml-2">{{deliver.inView
											? '🔼':'🔽' }}</button>
									</td>
								</tr>
								<tr *ngIf="deliver?.inView">
									<td colspan="12">
										<div [id]="'invoice-'+invoice.invoiceid" class="m-4 mb-5 mt-0"
											*ngFor="let invoice of deliver.invoice; let v = index">
											<div class="d-flex align-items-center justify-content-between">
												<div>

													<span>{{v+1}}. Factura #</span>
													<label
														class="ml-2 badge badge-warning text-white">{{invoice.invoiceid}}</label>&nbsp;
												</div>
											</div>
											<div class="table-responsive">
												<table class="table stylish-table">
													<thead>
														<tr>
															<th>#</th>
															<th style="width: 20%">Código</th>
															<th style="width: 20%">EAN</th>
															<th>Cantidad
															</th>
															<th>Unidad</th>
															<th>Total COP
															</th>
														</tr>
													</thead>
													<tbody>
														<tr *ngFor="let product of invoice.product; let i = index;">
															<th scope="row">
																{{i+1}}
															</th>
															<td>{{product?.productcode}}
															</td>
															<td>{{product.ean}}
															</td>
															<td>{{product.quantity|number}}
															</td>
															<td>{{product.salesunit}}
															</td>
															<td>{{product.costo|currency: 'COP'}}
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
	<p class="text-muted m-t-1 font-12">Total <b>planeaciones</b> {{planning?.length}}</p>
</div>