<div class="row">
	<div class="col">
		<a class="m-1 card-subtitle link hover-3" routerLink="/component/rejects/reject" state="{icon: 'mdi mdi-grid-off'}">Agregar rechazo</a>
		<div class="card">
			<div class="card-body">
				<h5 class="sub-title">Filtros de búsqueda:</h5>

				<div class="row" [formGroup]="group">
					<div class="form-group mobile-inputs col">
						<label class="col-form-label">Fecha inicio:</label>
						<div class="input-group ">
							<input class="form-control" placeholder="Fecha inicio" [min]="minDate" [max]="maxDate"
								(change)="fechainicio()" type="datetime-local" formControlName="fechainicio">
							<div class="input-group-append">
								<button type="button" class="btn btn-outline-secondary"
									(click)="clear('fechainicio')">🗑</button>
							</div>
						</div>
					</div>
					<div class="form-group mobile-inputs col">
						<label class="col-form-label">Fecha fin:</label>
						<div class="input-group ">
							<input class="form-control" placeholder="Fecha fin" [min]="minDate" [max]="maxDate"
								(change)="fechafin()" type="datetime-local" formControlName="fechafin">
							<div class="input-group-append">
								<button type="button" class="btn btn-outline-secondary"
									(click)="clear('fechafin')">🗑</button>
							</div>
						</div>

					</div>
					<div class="col-12 d-flex justify-content-between">
						<button type="button" class="btn btn-outline-secondary"
							(click)="clear()">Limpiar</button>
						<button type="button" class="mt-auto btn btn-sm btn-outline-{{ !group.valid ? 'warning' : 'success'}}"
						(click)="buscar()"
							[disabled]="group.invalid">
							Buscar
						</button>
					</div>
				</div>
			</div>
		</div>
		<ng-container>
			<wbr-pivot #report id="wdr-component" [toolbar]="true" [width]="'100%'" [height]="500" [report]="report">
				Pivot data
			</wbr-pivot>
			<span>{{rejects?.length}} Rechazos</span>
		</ng-container>
	</div>
</div>