<body>
     <div class="login-form w3_form">
          <!--  Title-->
          <div class="login-title w3_title">
               <h1>PROCTER</h1>
          </div>
          <div class="login w3_login">
               <h2 class="login-header w3_header">Ingresar</h2>
               <div class="w3l_grid">
                    <form class="col-12 login-container" action="#" method="post">
                         <input class="col" type="nombre" placeholder="Nombre" Name="Nombre" required="" autocomplete="on" (keyup)="login($event)">
                    </form>
                    <hr>
                    <div class="second-section w3_section">
                         <div class="social-links w3_social">
                              
                              <ul>
                                   <!-- facebook -->
                                   <li style="display: block;"> <a class="col-12 linkedin" href="#" target="blank"><i class="mdi mdi-linkedin"></i></a>
                                   </li>

                                   <!-- twitter -->
                                   <li style="display: block;"> <a class="col-12 twitter" href="#" target="blank"><i class="mdi mdi-twitter"></i></a>
                                   </li>

                                   <!-- google plus -->
                                   <li style="display: block;"> <a class="col-12 googleplus" href="#" target="blank"><i
                                                  class="mdi mdi-google"></i></a></li>
                              </ul>
                         </div>
                    </div>
               </div>
          </div>

     </div>

     <div class="footer-w3l">
          <p class="agile"> &copy; 2021 PROCTER | <a
                    href="http://sertectingenieria.com">SERTEC INGENIERIA</a></p>
     </div>
</body>
