<div class="row">
	<div class="col">
		<h5 class="card-title">Nuevo Accesorio</h5>
		<h6 class="card-subtitle">Escriba la información del accesorio</h6>
		<div class="card">
			<div class="card-body">
				<h5 class="sub-title">Información de la factura:</h5>

				<div class="row" [formGroup]="group">
					<div class="col-12">
						<div class="form-group row mobile-inputs">
							<div class="col-12 col-sm-4">
								<label class="col-form-label">Id. Carga:</label>
								<div class="input-group ">
									<input type="text" class="form-control form-control-default"
										placeholder="# de la carga" formControlName="loadid" list="loaddata"
										(change)="loadid()" size="10" autocomplete="off" />
									<div class="input-group-append">
										<button type="button" class="btn btn-outline-secondary"
											(click)="group.reset()">🗑</button>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-4">
								<label class="col-form-label">Id. Orden:</label>
								<div class="input-group ">
									<input type="text" class="form-control form-control-primary" id="loadorderid"
										placeholder="# de la orden" (change)="loadorderid()"
										formControlName="loadorderid" list="loadorderdata" size="10"
										autocomplete="off" />
									<div class="input-group-append">
										<button type="button" class="btn btn-outline-secondary"
											(click)="group.reset()">🗑</button>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-4">
								<label class="col-form-label">Id. Envío:</label>
								<div class="input-group ">
									<input type="text" class="form-control" placeholder="# Envío"
										formControlName="deliveryid" list="deliverydata" (change)="deliveryid()"
										size="10" autocomplete="off" />
									<div class="input-group-append">
										<button type="button" class="btn btn-outline-secondary"
											(click)="group.reset()">🗑</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div *ngIf="group.valid">
					<hr>
					<div class="row" [formGroup]="accessory">
						<div class="col">
							<h5 class="sub-title">Información del accesorio:</h5>
							<div class="row mobile-inputs">
								<div class="col-6 col-sm-4">
									<label class="col-form-label">Tipo:</label>
									<div class="ml-auto">
										<select class="custom-select form-control" formControlName="accessorytype">
											<option selected disabled value>-- SIN SELECCIÓN --</option>
											<option selected blankoption *ngFor="let bundle of bundleSrv.accessoryTypes"
												[value]="bundle.table_code">{{bundle.descripcion}}</option>
										</select>
									</div>
								</div>
								<div class="col-6 col-sm-4">
									<label class="col-form-label">Valor del accesorio:</label>
									<input type="currency" class="form-control" placeholder="Valor"
										formControlName="costoverrun">
								</div>
								<div class="col-6 col-sm-4">
									<label class="col-form-label">Unidad de venta:</label>
									<select class="custom-select form-control" formControlName="salesunit">
										<option selected disabled value>-- SIN SELECCIÓN --</option>
										<option selected blankoption *ngFor="let bundle of bundleSrv.rejectUnits"
											[value]="bundle.table_code">{{bundle.descripcion}}</option>
									</select>
								</div>
								<div class="col-6 col-sm-4">
									<label class="col-form-label">Cantidad:</label>
									<input type="number" class="form-control" placeholder="Cantidad"
										formControlName="quantity">
								</div>
								<div class="col-4 col-sm-4">
									<label class="col-form-label">Fecha del accesorio:</label>
									<input class="form-control" placeholder="Fecha rechazo" [min]="minDate"
									[max]="maxDate" (change)="requesteddate()" type="datetime-local"
										formControlName="requesteddate">
								</div>
								<div class="col-4 col-sm-4"
									[class.has-success]="accessory?.controls?.comentarios?.valid!"
									[class.has-danger]="accessory?.controls?.comentarios?.invalid!">
									<label class="col-form-label">Comentario:</label>
									<textarea class="form-control" rows="1" formControlName="comentarios"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div *ngIf="messages?.length > 0">
					<pre>
						<div *ngFor="let message of messages" >{{message.message}}</div>
					</pre>
				</div>
				<ng-container *ngIf="group.dirty || accessory.dirty">
					<hr>
					<button class="btn btn-sm btn-outline-primary" *ngIf="group.dirty || accessory.dirty"
						(click)="group.reset();accessory.reset()">Limpiar</button>
					<button *ngIf="messages?.length < 1 && group.valid && accessory.valid" (click)="save()"
						class="btn btn-sm btn-outline-{{ !accessory.valid ? 'danger' : 'success'}}">
						{{ accessory.valid ? "Guardar" : "Actualizar" }}
					</button>
				</ng-container>
			</div>
		</div>
	</div>
</div>

<datalist id="loadorderdata">
	<option *ngFor="let p of planning" [value]="p.loadorderid">{{p.loadorderid}}</option>
</datalist>

<datalist id="loaddata">
	<option *ngFor="let p of planningdatabyloadid()" [value]="p">{{p}}</option>
</datalist>
<datalist id="deliverydata">
	<option *ngFor="let p of deliverdatabyloadid()" [value]="p.deliveryid">{{p.deliveryid}}</option>
</datalist>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>